html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: RGB(46,56,143);
    overscroll-behavior: none;
    /* overflow-x: hidden; */
  }
  
nav {
    background: inherit;
    color: white;
    padding-bottom: 10px;
    display: flex; 
    justify-content: space-around;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1000;
  }

footer {
  width: 100%;
  height: 80px;
  background-color: inherit;
  color: white;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 20px; /* account for bottom of mobile devices */
  /* justify-content: space-evenly; */
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav a {
    color: unset;
    text-decoration: none;    
  }

.icon-link svg {
  width: 70px;
  height: 70px;
  fill: #ffffff; 
  vertical-align: middle;
  stroke: #333;
  transition: fill 0.4s ease;
}

.icon-link:hover svg,
.icon-link:focus svg {
  fill: RGB(241, 101, 48);
}
  
  main {
    padding: 1em;
    min-height: calc(100vh - 160px);
    background-color: #ffffff;
  }
  
.player {
    color: white;
    background-color: inherit;
    border: 0;
    display: flex;
    align-items: center;
    vertical-align: baseline;
  }

  .nowPlaying {
    flex-grow: 4;
    text-align: center;
    font-size: 17pt;
  }

  .scheduleLinks a {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20pt;
  }
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 28%;
}
  .NTL-logo {
    width: 300px;
    height: 300px;
  }

.podcastsContainer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 200px;
    margin-bottom: 80px;
    justify-content: center;    
}

.podcastIndividual {
  text-align: center;
}

.podcastImages {
  width: 300px;
  height: 300px;
}

.podcastTitle {
  font-size: 25pt;
}