<div id="podcastIndividualContainer" class="podcastIndividualContainer">

    <img src="/static/pwa/img/back-button.png" class="backButton" onclick="history.back()">

    <img id="podcastIndividualImage" class="podcastIndividualImage" src="{{ pod.image }}">
    <br>
    <div id="podcastIndividualTitle" class="podcastIndividualTitle">{{ pod.title }}</div>
    <br>
    <div id="podcastIndividualDescription" class="podcastIndividualDescription">{{ pod.description }}</div>
    <br>
    <div id="podcastIndividualAllEpisodes" class="podcastIndividualAllEpisodes">
        {% for episode in pod.episodes %}
            <div class="podcastEpisodeTitle">{{ episode.title }}</div>
            <div class="podcastEpisodeDuration"> Duration: {{ episode.duration }}</div>
            <audio class="podcastEpisodeEnclosure" controls src="{{ episode.enclosure }}" preload="none"></audio>
            <hr style="width: 50%;">
        {% endfor %}
    </div>  

</div>