body {
    background-color: azure;
    padding: 0%;
    margin: 0%;
}
.div1 { 
    text-align: center;
    }
.div2 {
        display: inline-block;
        width: 220pt;
    }
header {
        color: azure;
        font-size: xx-large;
        padding: 15pt;
        background-color: black;
    }

footer { 
        margin-top: 7%;
        margin-bottom: 1%;
    }

.footer_image {
        height: 120px;
        margin-right: 10pt;
        margin-left: 10pt;
    }

/* for BrightSign */
@media screen and (device-width:1920px) and (hover: none) {
    header {
        font-size: 30pt;
    }    
    h1 {
        font-size: 33.5pt;
    }
    h2 {
        font-size: 28.5pt;
    }
    .div2 {
        width: 390pt;
    }
    footer {
        margin-top: 3%;
    }
    .footer_image {
        height: 165px;
        margin-right: 35pt;
        margin-left: 35pt;
    }
}

.banner {
    text-align: center;
    border-color: brown;
    border-style: solid;
    border-width: 5 pt;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    overflow: auto;
    font-size: 21pt;
}

.dot-elastic {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(3, 3, 59);
    color: rgb(3, 3, 59);
    animation: dotElastic 1s infinite linear;
    }
    
    .dot-elastic::before, .dot-elastic::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    }
    
    .dot-elastic::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(3, 3, 59);
    color: rgb(3, 3, 59);
    animation: dotElasticBefore 1s infinite linear;
    }
    
    .dot-elastic::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(3, 3, 59);
    color: rgb(3, 3, 59);
    animation: dotElasticAfter 1s infinite linear;
    }
    
    @keyframes dotElasticBefore {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1.5);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
    }
    
    @keyframes dotElastic {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.5);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
    }
    
    @keyframes dotElasticAfter {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 0.67);
    }
    75% {
        transform: scale(1, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
    }
