{% extends 'home.html' %}

{% block content %}

<div style="text-align: center; padding-top: 50pt;">
    <h1>
        Nashville Talking Library is closed.
    </h1>
</div>

<script>
    // refresh page
    function refresh_page() {
        window.location.reload();
    }
    function check_time() {
        const current_time = new Date()
        var minute = current_time.getMinutes()
        if (minute == 0 || minute == 30) {
            refresh_page()
        }
    }
    setInterval(check_time, 60000)
</script>

{% endblock %}