<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='NTL_fav.png') }}">
    <title>Who's in the booth?</title>

  </head>

  <body>

    <header style="text-align: center">
        Who's in the booth?
    </header>

<div style="display: block; overflow: auto;">
    <h2 style="float: left; margin-left: 5pt; margin-bottom: 0%; padding-bottom: 0%;"
        id="date"></h2>
    <h2 style="float: right; margin-right: 5pt; margin-bottom: 0%; padding-bottom: 0%;"
        id="time"></h2>
</div>

    {% block content %}

    <div class="div1">
        <h1>
            {{hour}}
        </h1>
    </div>
    
    <div class="div1">
        <div class="div2">
        <h1>Booth 1</h1>
        <h2 id="Booth1_data">{{booth1}}</h2>
        </div>

        <div class="div2">
        <h1>Booth 2</h1>
        <h2 id="Booth2_data" >{{booth2}}</h2>
        </div>

        <div class="div2">
        <h1>Booth 3</h1>
        <h2 id="Booth3_data">{{booth3}}</h2>
        </div>
    </div>

    <hr style="width: 78%;">

    <div class="div1">
        <h1>{{hour2}}</h1>
    </div>

    <div class="div1">
        <div class="div2">
        <h1>Booth 1</h1>
        <h2 id="Booth1_2_data">{{booth1_2}}</h2>
        </div>

        <div class="div2">
        <h1>Booth 2</h1>
        <h2 id="Booth2_2_data">{{booth2_2}}</h2>
        </div>

        <div class="div2">
        <h1>Booth 3</h1>
        <h2 id="Booth3_2_data">{{booth3_2}}</h2>
        </div>
    </div>

    {% if banner %}
    <br>
    <div class="banner" role="alert" id="banner">
        {{banner}}
    </div>

    {% endif %}

    <script>
        // refresh page
        function refresh_page() {
            window.location.reload();
        }
        function check_time() {
            const current_time = new Date()
            var minute = current_time.getMinutes()
            if (minute == 0 || minute == 30) {
                refresh_page()
            }
        }
        setInterval(check_time, 60000)
    </script>

    {% endblock %}

    <footer id="footer">
        <div style="text-align: center;">
        <img src="{{url_for('static', filename='NTL.png')}}" class="footer_image" alt="NTL logo">
        <img src="{{url_for('static', filename='NPL.png')}}" class="footer_image" alt="NPL logo">
        </div>
    </footer>

    <script>
        /*
        If banner element is on the page, remove footer/images BUT only for BrightSign, 
        which we target below. We blew up the font for BrightSign so big (staff request) that
        we can't fit everything on the screen.

        This feels hacky, sorry.
        */ 

        const screen_width = document.documentElement.clientWidth
        const no_hover = window.matchMedia("(hover: none)").matches

        if (screen_width == 1920 && no_hover == true) {
        document.getElementById('footer').remove();
        }
    </script>

	<script src="{{ url_for('static', filename='misc.js') }}"></script>

  </body>

</html>