{% extends 'home.html' %}

{% block content %}

<dialog id="modalAlert" class="modalAlert">
    <div id="modalAlertMessage" class="modalAlertMessage"></div>
    <br>
    <button id="modalAlertButton" class="modalAlertButton" onclick="closeModalAlert()">close</button>
</dialog>

<div style="all: unset; max-width: 75%;">

    <h1 style="color: aliceblue; text-align: center;">{{folder}}</h1>

    <div class="AssetsFolderContainer">

        {% for file in files %}

        <div>
            {{file}}
        </div>

        {% endfor %}
    </div>

    <br>
    <textarea id="feedText" style="margin: 10px;">just a moment...</textarea>
    <br>
    <button onclick="confirmFeedChange()">Submit Changes</button>


</div>

<script>
    async function editFeed() {
        const folder = "{{folder}}";
        const url = `/assets/folder/${folder}/feed`;

        let response = await fetch(url, { method: "POST" });
        let responseJSON = await response.json();

        const feedElement = document.getElementById("feedText");
        feedElement.textContent = responseJSON.feed 
        // feedElement.innerText = responseJSON.feed;
        feedElement.style.width = "99%";
        feedElement.style.height = "600px";
    }

    function confirmFeedChange() {
        const confirm = "Are you sure??? Cannot be undone...";
        let confirmed = window.confirm(confirm);
        if (confirmed) {
            const feedElement = document.getElementById("feedText");
            const text = feedElement.value;
            const errors = validateFeedSyntax(text);
            if (errors) { 
                let message = formatXMLValidationModalAlert(errors.innerHTML)
                modalAlert(message); 
                return; 
            }
            sendEditedFeedToServer(text);
        }
    }

    function validateFeedSyntax(feed) {
        const parser = new DOMParser();
        const XML = parser.parseFromString(feed, "application/xml");
        const errors = XML.querySelector("parsererror");
        return errors;
    }

    async function sendEditedFeedToServer(feed) {
        const data = { "feed": feed }
        const folder = "{{folder}}";
        const url = `/assets/folder/${folder}/feed/edit`;
        let response = await fetch(url, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data)
        });
        let responseJSON = await response.json();
        modalAlert(responseJSON.response)
    }

    function formatXMLValidationModalAlert(message) {
        const pre = "There is a problem with the formatting of the XML: \n\n";
        const post = "\n\nYour changes have NOT been uploaded to the server."
        const newMessage = pre + message + post;
        return newMessage;
    }

    function modalAlert(message) {
        const parent = document.getElementById("modalAlert");
        const content = document.getElementById("modalAlertMessage");
        content.innerText = message;
        parent.style.display = "block";
    }

    function closeModalAlert() {
        const modalElement = document.getElementById("modalAlert");
        modalElement.style.display = "none";
        return;
    }

    editFeed()
</script>


{% endblock %}