{% extends 'home.html' %}

{% block content %}

<div style="flex-grow: 1; margin-top: 150pt;">

    <dialog id="modalAlert" class="modalAlert">
        <div id="modalAlertMessage" class="modalAlertMessage"></div>
        <br>
        <button id="modalAlertButton" class="modalAlertButton" onclick="closeModalAlert()">close</button>
    </dialog>

<div style="text-align: center">
    <form onsubmit="submitNewBanner(); return false;">
        <select name="selectMessage" id="selectMessage" style="width: 50%;">
            <option value="" selected disabled hidden>Select</option>
            <option
            value="For help, contact Ben at 615-862-5804 x73856 or ben.weddle@nashville.gov">
            Travis Out
        </option>
            <option
            value="For help, contact Travis at 812-639-9744 or travis.humbert@nashville.gov">
            Ben Out
        </option>
            <option value="TL Volunteers: We are having network issues and you cannot save your file to the usual place.
PLEASE SAVE YOUR FILE TO THE DESKTOP">
                Save to desktop
            </option>
        </select>

        <br><br>
        <textarea id="bannerMessage" name="bannerMessage" style="width: 50%; height: 100px;"
            placeholder="your message here (or leave blank to erase existing message)"></textarea>
        <br><br>
        <button type="submit" style="width: 100px; height: 30px;">SUBMIT</button>
    </form>
    <br><br>
</div>

</div>

<script src="{{url_for('static', filename='js/banner.js')}}"></script>

{% endblock %}