<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, height=1080, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dots.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/NTL_fav.png') }}">
    <title>Who's in the booth?</title>

  </head>

  <body>

    <header>
        {% block header %} YOU ARE IN THE WRONG PLACE {% endblock %}
    </header>

<div class="dateTimeWeather_container">
    <h2 id="date" class="date"></h2>

    {% block refresh %}{% endblock %}

    <div class="timeWeather">
        <h2 id="weather" style="float: left; margin-right: 5pt;"></h2>
        <h2 id="time"></h2>
    </div>

</div>

{% block content %}
<div class="home_header">
    Perhaps you are looking for <a style="color: inherit;" href="/booth">Booth Finder</a>?
    <p style="font-size: 18pt;">view the <a style="color: inherit;" href="/booth/schedule">full schedule</a> (work in progress)</p>
</div>
{% endblock %}

<footer id="footer">
    <div style="text-align: center;">
    <img src="{{url_for('static', filename='img/NTL.svg')}}" class="footer_image_NTL" alt="NTL logo">
    <img src="{{url_for('static', filename='img/NPL.svg')}}" class="footer_image_NPL" alt="NPL logo">
    </div>
</footer>

<script src="{{ url_for('static', filename='js/misc.js') }}"></script>

</body>

</html>