{% extends 'home.html' %}

{% block header %} Station Status {% endblock %}

{% block content %}

<div>PING
    <div style="color: yellow;">
        <div id="icecast">Icecast</div>
        <div id="wpln">WPLN</div>
        <div id="SGmetadata">SGmetadata</div>
        <div id="metro">Metro</div>
    </div>
</div>

<br>

<div>Mountpoints
    <div id="mountpoints"></div>
</div>

<br>

<div>Now Playing
    <div id="nowPlaying"></div>
</div>
<br>

<div>Global Listeners
    <div id="listenerCount"></div>
</div>



<script src="{{ url_for('static', filename='js/status.js') }}"></script>

{% endblock %}