{% extends 'home.html' %}

{% block content %}

<div class="statsContainer">

    <div style="padding-bottom: 10pt;"></div>

    <div style="text-align: center;">Mountpoints
        <button onclick="mountpoints()">Refresh</button>
        <div class="statsContainer border" id="mountpoints"></div>
    </div>

    <div  style="text-align: center;">Audio
        <div style="text-align: left;" class="border" id="audio"></div>
    </div>

    <br>
    <div style="text-align: center;"> Ping
        <button onclick="ping()">Refresh</button>
        <div style="text-align: left; color: yellow; background-color: white;" class="border" id="ping">
            <div id="icecast">Icecast</div>
            <div id="wpln">WPLN</div>
            <div id="SGmetadata">SGmetadata</div>
            <div id="metro">Metro</div>
            <div id="npl">NPL Website</div>
            <div id="pod">Pod Server</div>
            <div id="vic">VIC</div>
            <div id="zeno">Zeno</div>
        </div>
    </div>

    <div style="text-align: center;"> Heartbeat
        <div id="heartbeat" class="statsContainer border" style="background-color: aliceblue; color: black;"></div>
    </div>

<div style="text-align: center;"> Icecast Global
    <div class="statsContainer border">
        <div style="text-align: center;">Server Start
            <div class="statsContainer border" id="serverStart"></div>
        </div>

        <div style="text-align: center;">Global Listeners
            <div class="statsContainer border" id="listenerCount"></div>
        </div>

        <div style="text-align: center;">Outgoing Bitrate
            <div class="statsContainer border" id="outgoing_kbitrate"></div>
        </div>

        <div style="text-align: center;">Sources
            <div class="statsContainer border" id="sources"></div>
        </div>

    </div>

    </div>

    <br>

    <div style="text-align: center;">Schedule
        <button onclick="schedule()">Refresh</button>
        <div style="text-align: left;" class="border">
            <div class="dot-elastic" id="dots" style="display: none;"></div>
            <div id="newspaper"></div>
            <div id="9"></div>
            <div id="10"></div>
            <div id="11"></div>
            <div id="12"></div>
            <div id="13"></div>
            <div id="14"></div>
            <div id="15"></div>
        </div>
    </div>

    <div style="text-align: center;">User Agent
        <button onclick="userAgent()">Refresh</button>
        <div class="border" style="text-align: left;" id="userAgent"></div>
    </div>



<br>
<br>

<div style="text-align: center;">
    <button onclick="meterButton()" style="display: inline-block;">meters</button>
    <div style="display: inline-block; width: 300pt; text-align: start;">
        <div>/live</div>
        <audio id="audio-live" crossorigin="anonymous" src="/stream/livestream.mp3" preload="none"></audio>
        <div id="audio-live-meter"></div>
    </div>
    <div style="display: inline-block; width: 300pt; text-align: start;">
        <div>/wpln</div>
        <audio id="audio-wpln" crossorigin="anonymous" src="/stream/wpln.mp3" preload="none"></audio>
        <div id="audio-wpln-meter"></div>
    </div>
    <div style="display: inline-block; width: 300pt; text-align: start;">
        <div>/NPL-Fallback-for-WPLN-mount</div>
        <audio id="audio-fallback" crossorigin="anonymous" src="/stream/fallback.mp3" preload="none"></audio>
        <div id="audio-fallback-meter"></div>
    </div>
</div>

</div>


<script src="{{ url_for('static', filename='js/status.js') }}"></script>

{% endblock %}