{% extends 'home.html' %}

    {% block content %}

    <dialog id="modalAlert" class="modalAlert">
        <div id="modalAlertMessage" class="modalAlertMessage"></div>
        <br>
        <button id="modalAlertButton" class="modalAlertButton" onclick="closeModalAlert()">close</button>
    </dialog>

    <div class="uploadContainer" id="dropArea">

    <div class="uploadHeader">UPLOAD FILES</div>    

    <div style="font-size: 20pt;">
        <div>Drag and Drop your file into this window, or select your file with the button below.</div>
        <br>
        <div style="font-style: italic;">(only one file at a time)</div>
    </div>
    
    <br><br><br>

    <div style="font-size: 25pt;">
    
        <input type="file" style="font-size: 15pt; text-align: center;" id="uploadFile">

    </div>

    <div style="font-size: 18pt; margin-top: 75px;">
        <input type="text" placeholder="password" id="uploadPassword" style="font-size: inherit;">
        <button onclick="uploadFile()" style="margin: 10px; font-size: inherit;">UPLOAD</button>
    </div>

    <br>

    <div id="uploadStatus" style="display: none;">
        <div style="display: inline-block; font-size: 18pt; margin-right: 10px;" id="progressPercent"></div>
        <progress id="progress" value="0", max="100" style="margin-right: 10px; font-size: 18pt;"></progress>
        <div style="display: inline-block; font-size: 18pt;">uploading...</div>
    </div>

    </div>

<script src="/static/js/upload.js"></script>

    {% endblock %}

