{% extends 'home.html' %}

    {% block content %}

    <div class="uploadContainer">

    <div class="uploadHeader">UPLOAD FILES</div>
    
    <br><br>

    <div style="display: block; font-size: 25pt;">
    
        <div style="display: inline-block; margin-right: 15px; ">Choose your file:</div>
        <input type="file" style="display: inline-block; font-size: 15pt;" id="uploadFile" onclick="hideNoFileWarning()">

    </div>

    <div style="font-size: 18pt; margin-top: 75px;">
    <input type="text" placeholder="password" id="uploadPassword" style="font-size: inherit;">
    <button onclick="uploadFile()" style="margin: 10px; font-size: inherit;">UPLOAD</button>
    </div>

    <div id="uploadStatus" style="display: none;">
    <div class="dot-elastic" style="display: inline-block; margin-right: 20px;"></div>
    <div style="display: inline-block; font-size: 18pt;">uploading...</div>
    </div>

    <div style="font-size: 20pt; text-align: center; display: block; margin-top: 10px;">
        <div id="noFileWarning" style="display: none; border: red 3pt solid; padding: 12px;">no file selected</div>
        <div id="passwordWarning"  style="display: none; border: red 3pt solid; padding: 12px;"></div>
    </div>

    </div>

<script>
    // 
    async function uploadFile() {
        let passwordOK = await checkPassword();
        if (!passwordOK) {return;}
        if(!checkFileSelected()) {return;}

        document.getElementById("uploadStatus").style.display = "block";

        const file = document.getElementById("uploadFile").files[0];
        let data = new FormData();
        data.append("file", file)

        const url = "https://waifuvault.moe/rest?expires=14d";
        let response = await fetch(url, {
            method: "PUT",
            body: data
        });

        let responseJSON = await response.json();

        const password = document.getElementById("uploadPassword").value;

        let submissionData = {"url": responseJSON.url, "token": responseJSON.token, "filename": file.name, "password": password};
        uploadFileDataToDB(submissionData);
    }

    async function uploadFileDataToDB(data) {
        const url = "/upload/newfile";
        let response = await fetch(url, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data)
        })
        if (!response.ok) {
            alert(`Could not upload ${data.filename}! Please try again or contact the tech team.`);
            document.getElementById("uploadStatus").style.display = "none";
        } else {
            console.log("about to window reload...")
            alert(`${data.filename} successfully uploaded!`);
            window.location.href = window.location.href;
            console.log("window reloaded?")
        }
    }

    function hideNoFileWarning() {
        document.getElementById("noFileWarning").style.display = "none";
    }

    async function checkPassword() {
        const password = document.getElementById("uploadPassword").value;
        let element = document.getElementById("passwordWarning");
        if (!password) {
            element.innerText = "you forgot the password";
            element.style.display = "inline-block";
            return false
        } 

        let toSend = {"password": password};
        let response = await fetch("/upload/checkpassword", {
                        headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(toSend)
        })

        if (!response.ok) {
            element.innerText = "wrong password";
            element.style.display = "inline-block";
            return false;
        } else {
            element.style.display = "none";
            return true;
        }

    }

    function checkFileSelected() {
        const file = document.getElementById("uploadFile").files[0];
        let noFileWarning = document.getElementById("noFileWarning");
        if (!file) {
            noFileWarning.style.display = "inline-block";
            return false;
        } else { 
            noFileWarning.style.display = "none";
        return true;
        }
    }

</script>

    {% endblock %}

