{% extends 'home.html' %}

    {% block content %}

    <div class="uploadContainer" id="dropArea">

    <div class="uploadHeader">UPLOAD FILES</div>    

    <div style="font-size: 20pt;">
        <div>Drag and Drop your file into this window, or select your file with the button below.</div>
        <br>
        <div style="font-style: italic;">(only one file at a time)</div>
    </div>
    
    <br><br><br>

    <div style="font-size: 25pt;">
    
        <input type="file" style="font-size: 15pt; text-align: center;" id="uploadFile" onclick="hideNoFileWarning()">

    </div>

    <div style="font-size: 18pt; margin-top: 75px;">
        <input type="text" placeholder="password" id="uploadPassword" style="font-size: inherit;">
        <button onclick="uploadFile()" style="margin: 10px; font-size: inherit;">UPLOAD</button>
    </div>

    <br>

    <div id="uploadStatus" style="display: none;">
        <div style="display: inline-block; font-size: 18pt; margin-right: 10px;" id="progressPercent"></div>
        <progress id="progress" value="0", max="99" style="margin-right: 10px; font-size: 18pt;"></progress>
        <div style="display: inline-block; font-size: 18pt;">uploading...</div>
    </div>

    <div style="font-size: 20pt; text-align: center; display: block; margin-top: 10px;">
        <div id="noFileWarning" style="display: none; border: red 3pt solid; padding: 12px;">no file selected</div>
        <div id="passwordWarning"  style="display: none; border: red 3pt solid; padding: 12px;"></div>
    </div>

    </div>

<script>
    // 
    async function uploadFile() {
        let passwordOK = await checkPassword();
        if (!passwordOK) {return;}
        if(!checkFileSelected()) {return;}

        document.getElementById("uploadStatus").style.display = "block";

        const file = document.getElementById("uploadFile").files[0];
        let data = new FormData();
        data.append("file", file)

        const request = new XMLHttpRequest();

        request.upload.addEventListener("progress", function(event) {
            // Get a suitable number for the progress bar. 
            // Do not actually reach 100% because we still have to call OUR server to put it in the DB after the file is uploaded to WaifuVault
            const percent = ((event.loaded / event.total) * 100) -1;
            const rounded = Math.floor(percent);
            document.getElementById("progress").value = rounded;
            document.getElementById("progressPercent").innerText = rounded + "%"
        })

        request.addEventListener("load", function() {
            const responseJSON = JSON.parse(request.responseText);
            const password = document.getElementById("uploadPassword").value;

            let submissionData = {"url": responseJSON.url, "token": responseJSON.token, "filename": file.name, "password": password};
            uploadFileDataToDB(submissionData);
        })

        const url = "https://waifuvault.moe/rest?expires=14d";
        request.open("PUT", url);
        request.send(data);

    }

    async function uploadFileDataToDB(data) {
        const url = "/upload/newfile";
        let response = await fetch(url, {
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(data)
        })
        if (!response.ok) {
            alert(`Could not upload ${data.filename}! Please try again or contact the tech team.`);
            document.getElementById("uploadStatus").style.display = "none";
        } else {
            document.getElementById("progressPercent").innerText = "100%"
            alert(`${data.filename} successfully uploaded!`);
            window.location.href = window.location.href;
        }
    }

    function hideNoFileWarning() {
        document.getElementById("noFileWarning").style.display = "none";
    }

    async function checkPassword() {
        const password = document.getElementById("uploadPassword").value;
        let element = document.getElementById("passwordWarning");
        if (!password) {
            element.innerText = "you forgot the password";
            element.style.display = "inline-block";
            return false
        } 

        let toSend = {"password": password};
        let response = await fetch("/upload/checkpassword", {
                        headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            method: "POST",
            body: JSON.stringify(toSend)
        })

        if (!response.ok) {
            element.innerText = "wrong password";
            element.style.display = "inline-block";
            return false;
        } else {
            element.style.display = "none";
            return true;
        }

    }

    function checkFileSelected() {
        const file = document.getElementById("uploadFile").files[0];
        let noFileWarning = document.getElementById("noFileWarning");
        if (!file) {
            noFileWarning.style.display = "inline-block";
            return false;
        } else { 
            noFileWarning.style.display = "none";
        return true;
        }
    }

    window.addEventListener("dragover", (e) => {e.preventDefault()})
    window.addEventListener("drop", handleFileDrop)

    function handleFileDrop(drop) {
        drop.preventDefault();
        let fileDrop = drop.dataTransfer.files[0]; // only allow one file at a time
        let dataTransfer = new DataTransfer();
        dataTransfer.items.add(fileDrop);
        let element = document.getElementById("uploadFile");
        element.files = dataTransfer.files;    
        
    }

</script>

    {% endblock %}

