{% extends 'home.html' %}

    {% block content %}

    <div style="color: #ffff; font-size: 17pt; margin: 25px;">
        {% for file in files %}
        <div style="margin-bottom: 15px;">
            <div style="display: inline-block;">{{loop.index}}</div>
            <div style="display: inline-block; margin-right: 13px;">{{file.get("filename")}}</div>
            <button style="display: inline-block; margin-right: 13px; font-size: inherit;" id="{{file.get('token')}}" onclick="fetchFile(this.id)">download</button>
            <div style="display: inline-block; margin-right: 13px;">Uploaded: {{file.get("timestamp")}}</div>
            <button style="font-size: inherit;" id="{{file.get('filename')}}" onclick="deleteItem(this.id)">delete</button>
        </div>
        <div style="display: inline-block; margin-right: 13px; font-size: 16pt;">Expires: {{file.get("retention")}}</div>
        <hr style="width: 100%;">    
         {% endfor %}
    </div>


    <script src="/static/js/viewUploadFiles.js"></script>

    {% endblock %}

