{% extends 'home.html' %}

    {% block content %}

    <div style="color: #ffff; font-size: 17pt; margin: 25px;">
        {% for file in files %}
        <div style="margin-bottom: 15px;">
            <div style="display: inline-block;">{{loop.index}}</div>
            <div style="display: inline-block; margin-right: 13px;">{{file.get("filename")}}</div>
            <button style="display: inline-block; margin-right: 13px; font-size: inherit;" id="{{file.get('token')}}" onclick="fetchFile(this.id)">download</button>
            <div style="display: inline-block; margin-right: 13px;">Uploaded: {{file.get("timestamp")}}</div>
            <button style="font-size: inherit;" id="{{file.get('filename')}}" onclick="deleteItem(this.id)">delete</button>
        </div>
        <div style="display: inline-block; margin-right: 13px; font-size: 16pt;">Expires: {{file.get("retention")}}</div>
        <hr style="width: 100%;">    
         {% endfor %}
    </div>


    <script>
        async function deleteItem(item) {
            const url = "/upload/deletefile";
            let file = {"filename": item}
            let response = await fetch(url, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "DELETE",
                body: JSON.stringify(file)
            })
            if (!response.ok){
                alert(`something went wrong! could not delete ${item}`)
            }
            let responseJSON = await response.json();
            console.log(responseJSON);
            window.location.reload();
        }

        async function fetchFile(downloadURL) {
            const file = {"token": downloadURL}
            const url = "/upload/fetchfile"
            let response = await fetch(url, {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                method: "POST",
                body: JSON.stringify(file)
            });
            if (response.ok) {
                let responseJSON = await response.json();
                window.open(responseJSON.url, "_blank");
            } else {
                alert("There was a problem unencrypting and downloading the file...")
            }
        }
    </script>

    {% endblock %}

