name: Test and Deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      icecast_user: ${{ secrets.icecast_user }}
      icecast_pass: ${{ secrets.icecast_pass }}
      VIC_user: ${{ secrets.VIC_USER }}
      VIC_password: ${{ secrets.VIC_PASSWORD }}
      BF_pass: ${{ secrets.BF_pass }}
      IPInfoToken: ${{ secrets.IPINFOTOKEN }}
      mail_server_external: ${{ secrets.mail_server_external }}
      
    steps:

    - name: prep action  
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Dependencies
      run: ls
    #   run: pip install -r requirements.txt

    - name: Test with pytest
      run: ls -l
    #   run: pytest

#   deploy:
#     needs: test
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Set up SSH key
#       run: |
#         mkdir -p ~/.ssh
#         echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/ntl_web_app.pem
#         chmod 600 ~/.ssh/ntl_web_app.pem

#     - name: Add EC2 to known hosts
#       run: |
#         ssh-keyscan -H 3.129.4.158 >> ~/.ssh/known_hosts

#     - name: Deploy to EC2
#       run: |
#         ssh -o StrictHostKeyChecking=no -i ~/.ssh/ntl_web_app.pem ubuntu@3.129.4.158 << 'EOF'
#           cd /home/booth
#           git pull origin main
          
#           source /home/booth/venv/bin/activate
#           pip install -r requirements.txt

#           sudo systemctl restart ntl_web_app
#           sudo systemctl restart nginx
#         EOF